<?xml version="1.0" encoding="UTF-8" ?>
<routes
    xmlns="http://symfony.com/schema/routing"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <route id="foo_route" path="/foo/begin/{begin}/limit/{limit}">
        <default key="_controller">App\Controller\FooController::foo</default>
        <default key="limit">10</default>
        <requirement key="begin">\d+</requirement>
        <requirement key="limit">\d+</requirement>
    </route>
</routes>
